[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
aiohttp = "*"
asyncio = "*"
rich = "*"
pyinquirer = "*"
async-timeout = "*"

[dev-packages]

[requires]
python_version = "3.9"
